<div class="col-md-6">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>id</th>
      <th>question</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let question of questions">
      <td>{{question.id}}</td>
      <input type="text" [(ngModel)]="question.text" placeholder="Question" name="text" class="form-control" required>
      <td><button class="btn btn-warning" (click)="editQuestion(question)">Editer la question</button></td>
      <td><button class="btn btn-danger" (click)="deleteQuestion(question)">Supprimer la question</button></td>
    </tr>
    </tbody>
  </table>
</div>
